#category-creator > *:not(:last-child) {
    margin-bottom: 2vh;
}

.chip {
    position: relative;
    overflow: hidden;
    width: 110px;
    height: 85px;
}

.chip .unit-icon {
    position: absolute;
    top: -21px;
    left: -9px;
}

.chip .remove-unit {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bolder;
    font-size: 12pt;
    padding: 0 10% 0 10%;
    background-color: var(--highlight-warning);
    transition: background-color 0.2s linear;
    border: 5px solid var(--text);
    border-left: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
    user-select: none;
    cursor: pointer;
}
.chip .remove-unit:hover {
    background-color: var(--warning);
}

#created-category-list {
    margin-bottom: 2vh;
}

#open-creator, #delete-category, #cancel-category-creation, #create-category-creation {
    margin: 0 5vw;
    width: 20vw;
    height: 5vh;
    border-radius: 1000000px;
}