:root {
    --msg-text: #FFFFFF;
    --msg-error: #ac000077;
}

body {
    grid-template-rows: 60px 1fr;
    height: 100vh;
    width: 100vw;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    width: 100vw;
    background-color: var(--content);
    z-index: 1000000;
}

#nav-bar h1 {
    padding-left: 1vw;
    padding-right: 1vw;
}

#nav-bar button {
    width: min-content;
    text-wrap: nowrap;
    padding: 0 1vw;
    height: 100%;
    border: none;
    font-size: 12pt;
    text-decoration: none;
    color: var(--text);
    vertical-align: middle;
    border-left: 1px solid var(--content-border);
}
#nav-bar button.current {
    background-color: var(--highlight-content);
}
#nav-bar button:last-of-type {
    border-right: 1px solid var(--content-border);
}

#version-info {
    position: absolute;
    right: 1vw;
}

#version-info h5 {
    margin: 0;
    padding: 0;
}

#save-change-text {
    background-color: var(--modal-fade);
    color: var(--msg-text);
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    min-width: 20vw;
    padding: 1vh 1vw;
    border-radius: 0 10000px 0 0;
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#save-change-text:not(.hidden) {
    animation: fadeout 6s linear;
    animation-fill-mode: forwards;
}

#save-change-text.error-msg {
    background-color: var(--msg-error);
}