h3 {
    text-align: center;
}

.loadout-unit-wrapper {
    display: grid;
    width: max-content;
    grid-template-columns: 110px 110px 110px 110px 110px;
    grid-template-rows: 85px 85px;
    row-gap: 0.5vw;
    column-gap: 0.5vw;
}

.loadout-base-image {
    position: relative;
    width: 90px;
    height: 180px;
}

.loadout-base-image img {
    position: absolute;
    top: 0;
    left: 0;
}

.cannon {
    z-index: 1;
}
.style {
    z-index: 3;
}
.foundation {
    z-index: 2;
}

.left-arrow, .right-arrow {
    width: 16px;
    height: 32px;
    cursor: pointer;
}

.loadout-options {
    width: 100%;
    margin-bottom: 1vh;
    column-gap: 1vw;
    display: flex;
    justify-content: space-between;
}

.loadout-options-right {
    display: flex;
    column-gap: 1vw;
}

.loadout-wrapper {
    padding: 1vw;
    background-color: var(--highlight-bg2);
    border-radius: 1vw;
    margin: 1vw;
}

#add-loadout {
    width: 40vw;
    height: 5vh;
    border-radius: 100vh;
    font-weight: bolder;
}

.unit-icon {
    cursor: pointer;
}

 .set-unit img {
    -webkit-user-drag: unset;
 }

 .dragover {
    filter: brightness(0.8);
 }

 .loadout-base-wrapper {
    margin-left: 2vw;
    height: 180px;
 }

 .left-base-arrows, .right-base-arrows {
    position: relative;
    height: 100%;
    width: 16px;
 }

 .base-cannon {
    z-index: 1;
 }
 .base-style {
    z-index: 2;
 }
 .base-foundation {
    z-index: 0;
 }

 .cannon-arrow {
    position: absolute;
    bottom: 80px;
 }
.style-arrow {
    position: absolute;
    bottom: 45px;
}
 .foundation-arrow {
    position: absolute;
    bottom: 10px;
 }