.table-filter-group button:not(:last-of-type) {
    border-right: 1px solid var(--content-border);
}
.table-filter-group button:not(:first-of-type) {
    border-left: none;
}
.table-filter-group button:not(:last-of-type).active {
    border-right: 1px solid var(--warning-border);
}

.table-filter-group h3 {
    width: 100%;
    text-align: center;
    margin: 2vh 0 1vh 0;
}

.table-filter-group h2 {
    padding: 0;
    margin: 0;
}

.table-filter-group h4 {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5vh;
    text-align: center;
    width: 100%;
}

#table-filter-options {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
}

.table-filter-group {
    margin: 2vh 2vw;
    min-width: 25vw;
    width: fit-content;
    height: fit-content;
}

.table-filter-group .h-align {
    margin: 1vh 0;
}

.table-filter-group button {
    border-top: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
    padding: 0.5vw;
    font-size: 12pt;
}

.table-filter-group button:first-of-type {
    border-radius: 5px 0 0 5px;
}
.table-filter-group button:last-of-type {
    border-radius: 0 5px 5px 0;
}
.table-filter-group button:only-of-type {
    border-radius: 5px 5px 5px 5px;
}

.filter-hidden {
    display: none !important;
}

#table-option-modal label, #table-option-modal input {
    cursor: pointer;
}

.sort-direction {
    height: 8px;
    aspect-ratio: 1/1;
}
.descending .sort-direction {
    transform: rotate(180deg);
}

#table-modal-sort {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#table-modal-sort button {
    border: 2px solid var(--text) !important;
    border-radius: 5px;
}

#table-modal-modifer-options {
    display: grid;
    grid-template-columns: 1fr minmax(20%, min-content);
    grid-template-rows: 50% 50%;
    grid-template-areas: "unique applyAll" "multi applyOptions";
    width: 100%;
    row-gap: 1vh;
    column-gap: 1vh;
}

#disjoint-update-options {
    grid-area: unique;
    width: 100%;
    display: flex;
    justify-content: center;
}

#table-update-all-wrapper {
    grid-area: applyAll;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 1vw;
}

#table-modal-modifier-multiselect {
    grid-area: multi;
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-option-selection {
    width: 80%;
}

#table-update-target-focus {
    grid-area: applyOptions;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#table-update-target-focus div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#table-update-options .table-filter-group {
    padding: 0;
    margin: 0;
}

#table-update-all-wrapper button {
    border-top: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
    padding: 0.5vw;
    font-size: 12pt;
    border-radius: 5px;
}