:root {
    --icon-height: 120;
    --icon-scale: calc(var(--icon-height) / 85);
}

.legend-rare-color #favorite-wrapper {
    animation: rainbow 8s linear 0s infinite forwards;
    border-right: 1px solid var(--rarity-border);
}
.legend-rare-color #talent-align {
    background-color: var(--rainbow-bg1);
}
.legend-rare-color #xp-np-catseye-cost {
    background-color: var(--rainbow-bg2);
}
.legend-rare-color #fruit-cost {
    background-color: var(--rainbow-bg3);
}
.legend-rare-color #seed-cost {
    background-color: var(--rainbow-bg4);
}
.legend-rare-color #gem-cost {
    background-color: var(--rainbow-bg5);
}
.legend-rare-color #stone-cost {
    background-color: var(--rainbow-bg6);
}

#search-wrapper {
    margin: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-box {
    width: 18vw;
    height: 32px;
    border: 3px solid var(--text);
    border-radius: 1000000000px;
    padding: 0 1vw;
}

#search-extra {
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: calc(-32px - 2.4px);
    aspect-ratio: 1/1;
    border-radius: 1000000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border: none;
}

#unit-border {
    --width: 90vw;
    --row-height: 12vh;
    --height: calc(5vh + calc(6 * var(--row-height)));
    background-color: var(--rarity-bg);
    border: 2px solid var(--rarity-border);
    width: var(--width);
    height: var(--height);
    margin-left: calc(calc(100vw - var(--width)) / 2);
    margin-top: calc(calc(85vh - var(--height)) / 2);
    display: grid;
    grid-template-rows: 5vh var(--row-height) var(--row-height) var(--row-height) var(--row-height) var(--row-height) var(--row-height);
    grid-template-columns: 50% 1fr calc(108px * var(--icon-scale));
    position: relative;
}

td {
    border: none;
    padding: 0;
}

#unit-border h4 {
    font-size: 20pt;
    padding: 0;
    margin: 0;
}

#name-border {
    background-color: var(--rarity-content);
    border-bottom: 1px solid var(--rarity-border);
    position: relative;
    display: flex;
    align-items: start;
    height: 5vh;
    grid-row: 1;
    grid-column: 1 / 3;
}

#unit-top-section {
    width: 100%;
    justify-content: space-between;
}

td.row-id::before {
    content: "ID: ";
}

td.row-image {
    --height: var(--icon-height);
    --scale: var(--icon-scale);
    width: calc(110px * var(--scale));
    min-width: calc(108px * var(--scale));
    max-width: calc(108px * var(--scale));
    height: calc(var(--height) * 1px);
    overflow: hidden;
    position: relative;
}
.unit-icon {
    height: calc(127px * var(--scale));
    position: absolute;
    top: calc(-21px * var(--scale));
    left: calc(-9px * var(--scale));
    cursor: pointer;
}

#rarity-wrapper {
    width: 100%;
}

td.row-id {
    width: unset;
    max-width: unset;
    min-width: unset;
    border-left: none;
}

#icon-rarity-favorite {
    border-left: 2px solid var(--rarity-border);
    border-bottom: 2px solid var(--rarity-border);
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    background-color: var(--rarity-content);
}

#favorite-wrapper {
    width: 5%;
    height: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rarity-border);
}

#id-border {
    border-left: 2px solid var(--rarity-border);
    display: flex;
    align-items: center;
    justify-content: center;
    width: unset;
    background-color: var(--rarity-content);
    grid-row: 1;
    grid-column: 3 / 4;
}

#talent-align {
    width: 100%;
    justify-content: space-around;
    grid-row: 2;
    grid-column: 1 / 3;
    border-bottom: 1px solid var(--rarity-border);
}

#name-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

#level-wrapper {
    margin-left: 1vw;
}

.cost-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#xp-np-catseye-cost {
    grid-row: 3;
    grid-column: 1 / 3;
    background-color: var(--rarity-bg2);
    border-bottom: 1px solid var(--rarity-border);
}

#rarity-wrapper {
    height: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fruit-cost {
    grid-row: 4;
    grid-column: 1 / 2;
    border-bottom: 1px solid var(--rarity-border);
    border-right: 1px solid var(--rarity-border);
}

#seed-cost {
    grid-row: 5;
    grid-column: 1 / 2;
    background-color: var(--rarity-bg2);
    border-bottom: 1px solid var(--rarity-border);
    border-right: 1px solid var(--rarity-border);
}

#gem-cost {
    grid-row: 6;
    grid-column: 1 / 2;
    border-bottom: 1px solid var(--rarity-border);
    border-right: 1px solid var(--rarity-border);
}

#stone-cost {
    grid-row: 7;
    grid-column: 1 / 2;
    background-color: var(--rarity-bg2);
    border-right: 1px solid var(--rarity-border);
}

.included-label {
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.specific-unit-stats {
    grid-row: 4 / 8;
    grid-column: 2 / 4;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(6, calc(100% / 6));
    border-top: 4px solid var(--rarity-border);
    border-left-width: 4px;
}

.specific-unit-stats .unit-stat-power-icon {
    width: 30px;
    aspect-ratio: 1/1;
}

.specific-unit-stats .unit-stat-calc-cell {
    padding: 0 5%;
}

.specific-unit-stats h6 {
    font-size: 10pt;
}

.specific-unit-stats .unit-stat-options {
    border-right: none;
}

#unit-border.legend-rare-color {
    .specific-unit-stats .unit-stat-calc-cell:nth-of-type(1) {
        background-color: var(--rainbow-bg1);
    }
    .specific-unit-stats .unit-stat-calc-cell:nth-of-type(2) {
        background-color: var(--rainbow-bg2);
    }
    .specific-unit-stats .unit-stat-calc-cell:nth-of-type(3) {
        background-color: var(--rainbow-bg3);
    }
    .specific-unit-stats .unit-stat-calc-cell:nth-of-type(4) {
        background-color: var(--rainbow-bg4);
    }
    .specific-unit-stats .unit-stat-calc-cell:nth-of-type(5) {
        background-color: var(--rainbow-bg5);
    }
    .specific-unit-stats .double-stat-box .unit-stat-calc-cell {
        background-color: var(--rainbow-bg6);
    }
    .specific-unit-stats .unit-stat-traits, .specific-unit-stats .unit-stat-targetting, .specific-unit-stats .unit-stat-abilities {
        background-color: var(--rainbow-bg7);
    }

    .specific-unit-stats .unit-stat-options {
        background-color: var(--rainbow-bg8);
    }
}